{% extends "base.html" %}

{% load static %}
{% block content %}
  <section class="hero-sec">
    <div class="swiper hero-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{% static '/img/banner.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{% static '/img/banner.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{% static '/img/banner.jpg' %}" alt="">
        </div>
        <div class="swiper-slide">
          <img src="{% static '/img/banner.jpg' %}" alt="">
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </section>


  <!-- <a href="./" class="back-btn">Back</a> -->
  <main class="catalog">
    <div class="catalog-item">
      <div class="catalog-item__img-wrap">
        <img src="{% static '/img/zeekr.png' %}" alt="" class="catalog-item__img">
      </div>
      <div class="catalog-item__title">СУПЕР ПРИЗ</div>
       <div class="bonuses catalog-item__bonuses">
        <img class="bonuses__img" src="{% static '/img/coin.svg' %}" alt="">
        <span class="bonuses__amount">17</span>
      </div>
      <a href="/item/" class="catalog-item__btn">Играть</a>
    </div>
    <div class="catalog-item">
      <div class="catalog-item__img-wrap">
        <img src="{% static '/img/floppa.png' %}" alt="" class="catalog-item__img">
      </div>
      <div class="catalog-item__title">СУПЕР ПРИЗ</div>
       <div class="bonuses catalog-item__bonuses">
        <img class="bonuses__img" src="{% static '/img/coin.svg' %}" alt="">
        <span class="bonuses__amount">17</span>
      </div>
      <a href="/item/" class="catalog-item__btn">Играть</a>
    </div>
    <div class="catalog-item">
      <div class="catalog-item__img-wrap">
        <img src="{% static '/img/hoodie.png' %}" alt="" class="catalog-item__img">
      </div>
      <div class="catalog-item__title">СУПЕР ПРИЗ</div>
       <div class="bonuses catalog-item__bonuses">
        <img class="bonuses__img" src="{% static '/img/coin.svg' %}" alt="">
        <span class="bonuses__amount">172</span>
      </div>
      <a href="/item/" class="catalog-item__btn">Играть</a>
    </div>
    <div class="catalog-item">
      <div class="catalog-item__img-wrap">
        <img src="{% static '/img/zeekr.png' %}" alt="" class="catalog-item__img">
      </div>
      <div class="catalog-item__title">СУПЕР ПРИЗ</div>
       <div class="bonuses catalog-item__bonuses">
        <img class="bonuses__img" src="{% static '/img/coin.svg' %}" alt="">
        <span class="bonuses__amount">17</span>
      </div>
      <a href="/item/" class="catalog-item__btn">Играть</a>
    </div>
    <div class="catalog-item">
      <div class="catalog-item__img-wrap">
        <img src="{% static '/img/floppa.png' %}" alt="" class="catalog-item__img">
      </div>
      <div class="catalog-item__title">СУПЕР ПРИЗ</div>
       <div class="bonuses catalog-item__bonuses">
        <img class="bonuses__img" src="{% static '/img/coin.svg' %}" alt="">
        <span class="bonuses__amount">17</span>
      </div>
      <a href="/item/" class="catalog-item__btn">Играть</a>
    </div>
    <div class="catalog-item">
      <div class="catalog-item__img-wrap">
        <img src="{% static '/img/floppa.png' %}" alt="" class="catalog-item__img">
      </div>
      <div class="catalog-item__title">СУПЕР ПРИЗ</div>
       <div class="bonuses catalog-item__bonuses">
        <img class="bonuses__img" src="{% static '/img/coin.svg' %}" alt="">
        <span class="bonuses__amount">17</span>
      </div>
      <a href="/item/" class="catalog-item__btn">Играть</a>
    </div>
  </main>

{% endblock content %}