{% extends "base.html" %}
{% load static %}
{% block content %}

  <a href="/" class="back-btn">Назад</a>
  <main class="lucky-main"
    data-win-icon-link="/img/zeekr.png"
    data-win-text="Поздравляем! Вы выиграли! Скоро с вами свяжутся для передачи приза"
    data-loss-text="К сожалению, в этот раз не повезло. Попробуйте ещё!"
  >
    <h1 class="lucky__title">Испытай удачу!</h1>

    <div class='lucky__roulette roulette-wrapper'>
      <div class='selector'></div>
      <div class='wheel'>
      </div>
    </div>

    <p class="lucky__description">Крути рулетку и получи возможность выиграть приз!</p>
    <!-- <input placeholder='outcome'> -->
    <button class="lucky__button">
      <span class="lucky__button-text">Испытать удачу</span>
      <div class="bonuses lucky__button-bonuses">
        <img class="bonuses__img" src="/img/coin.svg" alt="">
        <span class="bonuses__amount">1702</span>
      </div>
    </button>
  </main>

  {% endblock content %}